<html><head>
    <meta charset="utf-8">
</head>
<body style="font-family: Segoe UI, sans-serif; font-size: 12pt;">
    <div>Dobrý den / Ahoj,</div>

    <div>prosím o zaplacení členských příspěvků oddílu <b>{troop}</b> podle platebních údajů níže. Platby jsou na transparentní účet, přijetí platby můžete sami zkontrolovat <a href="https://ib.fio.cz/ib/transparent?a=2101999393">na webu fiobanky</a>.</div>

    <div style="background: ghostwhite;
        font-size: 18px;
        padding: 10px;
        border: 1px ghostwhite;
        margin: 10px;">
        <div><b>Informace k platbě
        </b></div><div> Účel platby/Poznámka: {payment_message}
        </div><div> Číslo účtu: {human_account_number}
        </div><div> Platba: {amount_czk} Kč
        </div><div> Datum splatnosti: {human_due_date}
        </div><div> VS: {variable_symbol}
        </div><div> SS: {specific_symbol}
        </div><div><img src="cid:{qr_code_cid}" alt="QR kód s platebními údaji"></div>
    </div>

    <div>Pro zrychlení platby jsme připravili QR kód výše. Zadáváte-li ale platbu ručně, dbejte prosím na zadání správného variabilního (registrační číslo člena) a specifického symbolu (účel platby). To nám velmi urychlí dohledání dané plabtby.</div>
    <div> Pokud jste již příspěvky platili a přišel vám tento email, tak se vám omlouvám, ale zřejmě se nám nepodařilo spárovat vaši platbu. Pošlete nám proto prosím informaci o platbě, například screenshot s vaší platbou <a href="https://ib.fio.cz/ib/transparent?a=2101999393">na transparentním účtu</a>.</div>
     <div><br/></div><div>V případě sourozenců prosíme proveďte platby jednotlivě, zjednoduší nám to práci.</div>

    <div><br/></div><div><b>Výše příspěvků</b></div>
     <ul>
      <li> Členský příspěvek na rok je 2000, tzn. 1000 Kč na pololetí, placeno v únoru a v září.</li>
      <li> Odvod organizaci Junák je letos 680 Kč na rok, placeno v únoru.</li>
      <li> Snížený členský příspěvek pro aktivní členy je 1000 kč, pro bývalé a neaktivní členy 680 Kč, oboje placeno v únoru.</li>
      <li> K částce je přičten/odečten nedoplatek/ přeplatek z minulých období. Pokud Vám částka nesedí, ozvětě se prosím.</li>
    </ul>

    <div> Uvědomujeme si, že platby členských příspěvků spolu s cenami akcí mohou být neúměrně zatěžující pro rodinné rozpočty. Pokud pro Vás není jednoduché najít peníze na platby příspěvků či výprav, dejte to prosím vědět vedoucímu oddílu. Dokážeme pro tyto situace najít prostředky jak v našem rozpočtu, tak v dotacích, které získáváme od různých institucí (MČP3, MHMP, MŠMT).</div>



    <div><br/></div><div><b>Kdo platí příspěvky</b></div>
    <div>Členské příspěvky platí každý evidovaný člen oddílu nebo přístavu, na základě této evidence Vám posíláme tento mail. V případě, že Váš syn/dcera chce být členem oddílu, prosíme o provedení platby členského příspěvku na základě informací výše. Zároveň samozřejmě poprosíme o zprávu v případě, že syn/dcera již nadále chodit nebude.</div>

    <div><br/></div><div> Z vybraných členských příspěvků jde část celostátní organizaci Junák, která platí pojištění dětí, vydávání a zasílání časopisů a další podporu oddílů. Krom toho jsou příspěvky částečně hrazeny provozní náklady oddílů (materiál a vybavení, příspěvky na vzdělávání a připojištění vedoucích, oddílové akce), náklady přístavu (přístavní akce, provoz kluboven - elektřina, plyn, voda, nájem a další služby) a dále je z nich tvořena finanční rezerva. Naše středisko také pro zajištění své činnosti získává finanční prostředky od MČ Praha 3, MŠMT a MHMP. Za jejich podporu jim děkujeme. </div>
    <div>Skauti pracují jako sdružení dobrovolníků - lidé, kteří se podílí na vedení oddílu či přístavu, si za svoji činnost nenárokují žádnou finanční odměnu.</div>

    <div><br/></div><div><b>Proč Vám výzva přišla na tento email</b></div>
    <div> Tuto zprávu posílám na hromadný export ze skautské členské databáze. Jednotlivé kontakty v ní spravují vedoucí oddílů. Pro úpravu těchto kontaktních údajů prosím kontaktujte vedoucího oddílu. </div>

    <div><br/></div><div>V případě jakýchkoliv připomínek či dotazů nejen ohledně plateb jsem Vám k dispozici. Zároveň můžete kontaktovat jednotlivé vedoucí oddílů, kteří jsou v kopii tohoto emailu.</div>

    <div><br /></div><div>S poděkováním,</div>
    <div>Hondzik - Jan Mrkos, zástupce vedoucího 4. přístavu</div>

    <div style="color: darkgray"><br />
        <div>Junák - český skaut, 4. přístav Jana Nerudy Praha, z. s.</div>
        <div>Pitterova 1/2892, Praha 3, 130 00</div>
        <div>Tel: +420 720 411 622 (Jan Mrkos)</div>
        <div>Web: <a href="https://4pvs.skauting.cz/">https://4pvs.skauting.cz/</a></div>
    </div>
    </body>
</html>