<html><head>
    <meta charset="utf-8">
</head>
<body style="font-family: Segoe UI, sans-serif; font-size: 12pt;">
    <div>Dobrý den / Ahoj,</div>

    <div>Registrujeme u Vás už zaplacení členských příspěvků oddílu <b>{troop}</b> a to buď již letos, nebo jako přeplatek z minulého roku. Díky, pokud to nesedí, dejte prosím vědět. </div>

    <div><br/></div><div><b>Navýšení příspěvků a dotační program "dostupný skauting" - přihlášení do 15. 2.</b></div>
    <div> V druhém pololetí pak bude členský příspěvek 1000 Kč. </div>
    <div> Uvědomujeme si, že platby členských příspěvků spolu s cenami akcí mohou být neúměrně zatěžující pro rodinné rozpočty. Pokud pro Vás není jednoduché najít peníze na platby příspěvků či výprav, dejte to prosím vědět vedoucímu oddílu. Dokážeme pro tyto situace najít prostředky jak v našem rozpočtu, tak v dotacích, které získáváme od různých institucí (MČP3, MHMP, MŠMT). Letos máme navíc možnost využít prostředky z programu <a href="https://krizovatka.skaut.cz/dostupny-skauting/program-financni-podpory-dostupny-skauting-podrobne-informace">"dostupný skauting"</a>, který má za cíl zabránit tomu, aby "finance byly bariérou pro to, aby holky a kluci mohli zažívat se svými kamarády nová skautská dobrodružství". Termín podání žádostí v programu je však <b>již ve středu 15. 2.</b>, dejte proto prosím vědět co nejdříve. </div>


    <div><br/></div><div><b>Kdo platí příspěvky</b></div>
    <div>Členské příspěvky platí každý evidovaný člen oddílu nebo přístavu, na základě této evidence Vám posíláme tento mail. V případě, že Váš syn/dcera chce být členem oddílu, prosíme o provedení platby členského příspěvku na základě informací výše. Zároveň samozřejmě poprosíme o zprávu v případě, že syn/dcera již nadále chodit nebude.</div>

    <div><br/></div><div> Z vybraných členských příspěvků jde část celostátní organizaci Junák, která platí pojištění dětí, vydávání a zasílání časopisů a další podporu oddílů. Krom toho jsou příspěvky částečně hrazeny provozní náklady oddílů (materiál a vybavení, příspěvky na vzdělávání a připojištění vedoucích, oddílové akce), náklady přístavu (přístavní akce, provoz kluboven - elektřina, plyn, voda, nájem a další služby) a dále je z nich tvořena finanční rezerva. Naše středisko také pro zajištění své činnosti získává finanční prostředky od MČ Praha 3, MŠMT a MHMP. Za jejich podporu jim děkujeme. </div>
    <div>Skauti pracují jako sdružení dobrovolníků - lidé, kteří se podílí na vedení oddílu či přístavu si za svoji činnost nenárokují žádnou finanční odměnu.</div>

    <div><br/></div><div>V případě jakýchkoliv připomínek či dotazů nejen ohledně plateb jsem Vám k dispozici. Zároveň můžete kontaktovat jednotlivé vedoucí oddílů, kteří jsou v kopii tohoto emailu.</div>

    <div><br /></div><div>S poděkováním,</div>
    <div>Hondzik - Jan Mrkos, vedoucí 4. přístavu</div>
    </body>
</html>